@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 300px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}




:root {
    --primary-background: #DEE2E6;
    --table-background-color: white;
    /*--background-2: white;*/
    --background-menu: #F8F8F8;
    --text-color: #212529;
    --text-color-disabled: rgba(108, 117, 125, 0.7);
    --text-color-grey: rgba(108, 117, 125, 1);
    --primary: #428bca;
    --hover-primary: #356d9e;
    --hover-background-color: #efeee7;
    --border-color: lightgray;
    --secondary-border-color: #7F7F7F;
    --discrete-border-color: #e7e7e7;
    --active-menu-color: orange;
    --table-header: #D2D8DD;
    --table-row-odd: white;
    --table-row-even: var(--background-menu);
    --selected-element-table: #EFE4B0;
    --table-group-background-color: #aec1d1;
    --table-group-2-background-color: #aed1ba;
    --backdrop-rgb: rgba(0,0,0, 0.4);
    --loading-rgb: rgba(255,255,255, 0.5);
    /*repris du theme*/
    --fc-ff: #ffffff;
    --fc-rouge: #ff5050;
    --fc-rouge-clair-2: #C80000;
    --fc-orange: #FA5612;
    --bc-magenta: #7B5AB8;
    --bc-magenta2: #8000FF;
    --bc-vert-pomme: #649650;
    --bc-verre-pomme-2: #00CAA1;
    --fc-vert: #46a746;
    --fc-default: var(--text-color);
    --fc-bleuclair2: #0082D2;
    --bc-vertlimeclair2: #00FF80;
    --bc-yellowlight: lightyellow;
    --bc-yellow: yellow;
    --bc-rouge-laiteux: #AA8C8C;
    --bc-grey-light-op-aa-2: #9D9999;
    --bc-vert-op-a5: #BEFFBE;
    --bc-blanc: white;
    --fb-rouge: var(--fc-rouge);
    --fb-orange: var(--fc-orange);
    --fb-default: var(--fc-default);
    --fb-bleuclair2: var(--fc-bleuclair2);
    --rdv-inscr: Gainsboro;
    --rdv-tr: var(--fb-bleuclair2);
    --rdv-abs: var(--fc-rouge-clair-2);
    --att-pec: var(--fc-vert);
    --yellow-green: #9acd32;
    --white-smoke: #6d5656;
    --grey-dark-8: #888888;
}
.page-selector{
    cursor: pointer;
}
.page-selector.selected {
    cursor: default;
    text-decoration: underline !important;
}

.geckos-grid {
    background-color: var(--table-background-color);
    overflow-y: auto;
    overflow-x: hidden;
    /*height: 100%;*/
    flex-grow: 1;
    /*overflow-x: hidden;*/
}

    .geckos-grid.transparent {
        background-color: transparent;
    }

    .geckos-grid table {
        margin-bottom: 0;
        color: var(--text-color) !important;
        outline: none;
    }

        .geckos-grid table thead {
            /*display: table;
            width: 100%;
            width: calc(100% - 18px);*/
            /*th.row-expander {
                width: 1.2rem;
            }*/
        }

            .geckos-grid table thead tr th {
                /*background-color: var(--table-header);*/
                background: linear-gradient(var(--primary-background), var(--table-background-color));
                /*color: white;
                    border: 1px solid red;*/
                position: sticky !important;
                top: 0px;
                font-size: 12px;
                font-weight: 400;
                padding-left: 0;
                z-index: 2;
                /*
                       on laisse un peu de plce pour le resize sinon conflit
                    */
                /*
                       resizer de colonne pour les grilles
                    */
            }

                .geckos-grid table thead tr th .header-clickable-zone {
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .geckos-grid table thead tr th .resizer {
                    position: absolute;
                    top: 0;
                    right: 0px;
                    bottom: 0;
                    left: auto;
                    width: 4px;
                    background-color: transparent;
                    cursor: ew-resize;
                }

                    .geckos-grid table thead tr th .resizer:after {
                        content: "";
                        width: 1px;
                        display: block;
                        height: 100%;
                        background-color: var(--secondary-border-color);
                    }

                .geckos-grid table thead tr th.orderable .header-clickable-zone {
                    cursor: pointer;
                }

                .geckos-grid table thead tr th.orderable.ordered .lib-header-grid {
                    margin-right: 3px;
                }

            .geckos-grid table thead .row-expander {
                /*text-align: right;*/
                /*display: flex;*/
                cursor: pointer;
                text-align: center;
            }

                .geckos-grid table thead .row-expander:before {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 600;
                    content: "\f101";
                }

                .geckos-grid table thead .row-expander.expand:before {
                    content: "\f103";
                }

        .geckos-grid table tbody {
            /*overflow: auto;
            overflow-x: hidden;
            display: block;
            width: 100%;*/
        }

            .geckos-grid table tbody tr.group-grid-row {
                cursor: pointer;
                border-bottom: 1px solid var(--border-color);
            }

                .geckos-grid table tbody tr.group-grid-row[level="0"] {
                    background-color: var(--table-group-background-color);
                }

                .geckos-grid table tbody tr.group-grid-row[level="1"] {
                    background-color: var(--table-group-2-background-color);
                }

                .geckos-grid table tbody tr.group-grid-row .row-expander {
                    /*text-align: right;*/
                    display: flex;
                }

                    .geckos-grid table tbody tr.group-grid-row .row-expander:before {
                        font-family: "Font Awesome 5 Free";
                        margin-right: 0.8rem;
                        font-weight: 600;
                        content: "\f105";
                    }

                .geckos-grid table tbody tr.group-grid-row.expand .row-expander:before {
                    content: "\f107";
                }

            .geckos-grid table tbody.group-element {
                /*border-bottom: 1px solid var(--border-color);*/
            }

                .geckos-grid table tbody.group-element:not(.disabled) tr.element-grid-row:not(.unstyled) {
                    cursor: pointer;
                    /*border-bottom: 1px solid var(--border-color);*/
                    /*&.even-element {
                                background-color: var(--table-row-even);
                            }

                            &.odd-element {
                                background-color: var(--table-row-odd);
                            }*/
                    /*&:nth-of-type(even) {
                        background-color: var(--table-row-even);
                    }

                    &:nth-of-type(odd) {
                        background-color: var(--table-row-odd);
                    }*/
                    /**/
                }

                    .geckos-grid table tbody.group-element:not(.disabled) tr.element-grid-row:not(.unstyled).selected-element {
                        background-color: var(--selected-element-table) !important;
                        /*color: var(--text-color)*/
                    }

                    .geckos-grid table tbody.group-element:not(.disabled) tr.element-grid-row:not(.unstyled):hover {
                        background-color: var(--hover-background-color);
                    }

                    .geckos-grid table tbody.group-element:not(.disabled) tr.element-grid-row:not(.unstyled).overflow-row td {
                        max-width: 0;
                    }

                    .geckos-grid table tbody.group-element:not(.disabled) tr.element-grid-row:not(.unstyled).disabled {
                        cursor: not-allowed !important;
                        color: var(--text-color-disabled) !important;
                        background-color: initial !important;
                    }

                    .geckos-grid table tbody.group-element:not(.disabled) tr.element-grid-row:not(.unstyled).separator {
                        border-bottom: 1px solid var(--discrete-border-color);
                    }

                .geckos-grid table tbody.group-element.disabled tr.element-grid-row {
                    cursor: not-allowed !important;
                    color: var(--text-color-disabled) !important;
                    background-color: initial !important;
                }

        .geckos-grid table.without-cell-padding td {
            padding: 0 0 6px;
        }
