@*<blazorWebassembly3._2Preview1.Client.Components.AdvanceGrid.AdvanceGrid Items="Items">
    <TableHeader>
        <th>ID</th>
        <th>Name</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.</td>
        <td>@context.Name</td>
    </RowTemplate>
</blazorWebassembly3._2Preview1.Client.Components.AdvanceGrid.AdvanceGrid>*@
                                                                         