@typeparam T
@inherits CustomBaseComponent
<div class="geckos-grid "  id="@ContainerId">
    <table class="table table-sm table-borderless"  id="@Id">
        <thead>

            <tr>
                @(Columns)
            </tr>
        </thead>

        <tbody class="group-element">
            @{
                var idx = 0;
            }
            @foreach (var element in GetOrderedItems(Items))
            {
                var localIdx = idx++;
               
                <GridRowV2 Element="element" Index="@localIdx" Parent="this"></GridRowV2>
            }

        </tbody>
    </table>
</div>
